body {overflow-x: hidden;}
#box {
    margin: 2vh 0;
    font-family: monospace;
}
p {
    margin: 0;
    flex: 0.1;
    text-align: center;
    user-select: none;
}
select {color: #9adbc6; background: #043022; border-color: #9adbc6;}
input {font-family: "Beardy"}
button{background: white; border: none; color: black;}
#cool{background: #043022; border: 1px solid; color: inherit;}
